.imperio{
    background-color: red;
}
.rebeldes{
    background-color: blue;
}
.Unidades{
    text-align: center;
}
.naves{
    text-transform: uppercase;
}
img{
    width: 200px;
    height: 300px;
}
.Droides{
    display: flex;
    flex-wrap: wrap;
}